/* Card Styling */
.packages-results-card-comp-card {
  width: 21.875rem; /* 350px */
  margin: 1rem auto;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.15); /* 4px 10px */
  border-radius: 0.5rem; /* 8px */
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.packages-results-card-comp-card:hover {
  transform: scale(1.05);
}

/* Title Styling */
.packages-results-card-comp-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 1rem;
  text-align: center;
}

/* Text Styling */
.packages-results-card-comp-text {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* Rating Stars */
.packages-results-card-comp-stars {
  color: #ffc107;
  margin-right: 0.125rem; /* 2px */
  font-size: 1.2rem;
}

.packages-results-card-comp-stars-not-filled {
  color: #e0e0e0;
  margin-right: 0.125rem; /* 2px */
  font-size: 1.2rem;
}

/* Book Button */
.packages-results-card-comp-book-button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem; /* 5px */
  width: 100%;
  text-transform: uppercase;
  background-color: #ff9800 !important;
    transition: background-color 0.3s;
}

.packages-results-card-comp-book-button:hover {
  background-color: #f89705 !important;
}
.packages-results-card-comp-ratings-stars{
  font-size: 1.5rem;
    color: #ff9800;
  
}
.packages-results-card-comp-ratings-stars-notfilled{
  font-size: 1.2rem;
    color: #ff9800;
}
.packages-results-card-comp-ratings-container{
  display: flex;
  align-items: center;
  justify-content: center;
}